.bg-gray {
  background-color: rgba(0, 0, 0, 0.06);
}

.border-bottom-gray {
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

.heading-mid {
  margin-bottom: 15px;
}

.nav-main {
  display: flex;

  li {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.nav-main__link {
  display: block;
  transition: all 0.35s ease-out;
  padding: 5px 10px;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.page-all {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-content {
  flex: 1;
}

.page-footer {
  padding-top: 20px;
  padding-bottom: 10px;
  color: #999;
  text-align: right;
  font-size: 13px;
}

.page-header {
  position: relative;
  background-color: #3f51b5;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  @include z-index(page-header);
}

.page-header__inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__login {
  position: absolute;
  top: 100%;
  right: 35px;
  margin-top: 5px;
  opacity: 0;
  visibility: hidden;
  width: 300px;
  background-color: #fff;
  padding: 0 15px 25px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  transition: opacity 0.4s ease-out, visibility 0.4s ease-out;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.section-content {
  padding-top: 40px;
  padding-bottom: 20px;
}

.table-simple {
  text-align: center;

  td,
  th {
    padding: 10px;
  }

  td {
    border: 1px solid #ddd;
  }

  th {
    font-weight: 500;
  }

  thead {
    background-color: #3f51b5;
    color: #fff;
  }
}

//generate text colors
@each $key, $value in $colors {
  .text-#{$key} {
    color: $value;
  }
}

//generate text line-heights
@each $key, $value in $line-heights {
  .text-ln-#{$key} {
    line-height: $value;
  }
}

.text-break {
  word-break: break-all;
}

.text-nowrap {
  white-space: nowrap;
}

.text-uppercase {
  text-transform: uppercase;
}
